{% extends "paginas/base.html" %} 

{% block titulo %} Nosotros {% endblock %}

{% block contenido %} 
<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Bienvenidos a la pagina de EmmaWood</h1>
        <p class="col-md-8 fs-4">
            Para aquellos que quieran saber un poco mas sobre nosotros.....
        </p>
        <button class="btn btn-primary btn-lg" type="button">
            Empezar
        </button>
    </div>
</div>

{% endblock %}